.vs/
x64/
Debug/
Release/
*/x64/
*/Debug/
*/Release/

*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.idb
*.ipch
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.user
*.suo
*.VC.db
*.VC.opendb
*.VC.VC.opendb